html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Alkalami", serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.jutify-center {
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
}

.container {
  max-width: 1600px;
  width: 60%;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 1rem;
}

.main {
  background: linear-gradient(rgb(210, 236, 255), rgb(222, 196, 231));
}
.main .container {
  background-color: rgba(226, 185, 252, 0.33);
}
.main .container .text-center {
  position: relative;
  padding: 2rem 0rem 5rem 0rem;
}
.main .container .text-center select {
  position: fixed;
  left: 40%;
  width: 20%;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
.main .container .text-center select option {
  cursor: pointer;
  margin: 2rem;
}
.main .container ul {
  height: 50rem;
  overflow: auto;
}
.main .container ul li {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
.main .container ul li img {
  width: 40%;
  height: 15rem;
}
.main .container ul li div {
  width: 50%;
  padding-top: 1rem;
}
.main .container ul li div span {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  background-color: rgba(210, 236, 255, 0.566);
}
.main .container ul li div p {
  margin: 1rem 0rem;
  font-size: 2rem;
  font-weight: 500;
}
.main .container ul li div a {
  display: grid;
  place-content: end;
  text-decoration: none;
}
.main .container ul li div button {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 3px;
}
.main .container ul li div button:hover {
  box-shadow: 0px 2px 3px 3px rgba(210, 236, 255, 0.566);
  transform: scale(1.03);
}

ul::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=style.css.map */